# Learny Matching Prototype

https://kindlespark.sg/tuition/tutors/

Data gathered from Kindlespark (KS):

- KS POC
- Tutee Index (anonymous)
- Gender
- Level in 2023
- Subjects
- Financial Aid
- Availability
- Remarks

Observations from remarks:

- Siblings
- Special request (e.g. Female tutor, 3-5pm weekdays; unavailable on weekends)

In [10]:
import sys
!conda install --yes --prefix {sys.prefix} faker mimesis ipywidgets
!{sys.executable} jupyter nbextension enable --py widgetsnbextension

Collecting package metadata (current_repodata.json): done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - conda-forge/noarch::altair==4.2.0=pyhd8ed1ab_1
failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: | ^C
failed with initial frozen solve. Retrying with flexible solve.

CondaError: KeyboardInterrupt

/opt/conda/bin/python: can't open file '/home/jovyan/work/personal/learny/prototype/jupyter': [Errno 2] No such file or directory

In [2]:
import pandas as pd
import random
from mimesis import Person

## Fake some Data

https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6## Matching (Filtering) Algorithm

In [3]:
levels = ['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'S1', 'S2', 'S3', 'S4']
random.choice(levels)

'S3'

In [6]:
person = Person()

def create_row():
    return {
        'name': person.full_name(),
        'level': random.choice(levels),
        'subjects': 1,
        'financial_aid': True,
        'availability': random.choice([True,False]),
    }

df = pd.DataFrame([create_row() for i in range(100)])
df

               name level  subjects  financial_aid  availability
0   Rodolfo Elliott    S4         1           True          True
1    Rosenda Walker    S2         1           True         False
2         Evan Kirk    P3         1           True         False
3     Dwight Valdez    P2         1           True          True
4     Tomas Freeman    S1         1           True          True
..              ...   ...       ...            ...           ...
95    Sena Garrison    P3         1           True          True
96     Willard Soto    S2         1           True          True
97   Mila Rodriguez    S4         1           True         False
98   Chong Cantrell    P3         1           True          True
99    Cody Stafford    P5         1           True         False

[100 rows x 5 columns]

In [9]:
@interact
def show_filter(column=levels, level='P1'):
    return df.loc[df[column] == level]

NameError: name 'interact' is not defined